<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 </title>
</head>
<body>

    <form id="createMemberForm" name="createMemberForm" onsubmit="checkForm()">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="exampleInputEmail1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<div th:insert="~{layout/layout_footer :: footerFragment }"></div>
</body>

<script>
    function checkForm() {
        var emailAddress = document.createMemberForm.exampleInputEmail1;
        console.log(emailAddress.value);
        if (emailAddress.value == ' ' || emailAddress.value.length > 10) {
            emailAddress.focus();
        }
    }

</script>
</html>