<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="home/layout/layout_head :: layout_head(~{::meta}, ~{::title}, ~{::link})">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div th:replace="home/layout/layout_header :: layout_header"></div>
    <div layout:fragment="layout_content"></div>
    <div th:replace="home/layout/layout_footer :: layout_footer"></div>
    </div>

</body>
</html>