<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="layout_head">
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/home/css/bootstrap.min.css}" href="../../static/home/anime-main/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/home/css/font-awesome.min.css}" href="../../static/home/anime-main/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/home/css/elegant-icons.css}" href="../../static/home/anime-main/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/home/css/plyr.css}" href="../../static/home/anime-main/css/plyr.css" type="text/css">
    <link rel="stylesheet" th:href="@{/home/css/nice-select.css}" href="../../static/home/anime-main/css/nice-select.css" type="text/css">
    <link rel="stylesheet" th:href="@{/home/css/owl.carousel.min.css}" href="../../static/home/anime-main/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/home/css/slicknav.min.css}" href="../../static/home/anime-main/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/home/css/style.css}" href="../../static/home/anime-main/css/style.css" type="text/css">
</head>

</html>